# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.def_valheim_mods.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\neank\source\repos\valheim_test\.idea\.idea.def_valheim_mods\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
